
  .jumbotron {
	background:
		url('http://i.imgur.com/tbcFirD.jpg?1');
	/* background: url('http://cfile5.uf.tistory.com/image/2543D04A52E86964203963'); */
	background-repeat: repeat-x;
	padding: 50px;
	margin: 10px;
}
